defaults:
  - model_checkpoint
  - early_stopping
  - model_summary
  - rich_progress_bar
  - _self_

model_checkpoint:
  dirpath: ${paths.output_dir}/checkpoints
  filename: "epoch_{epoch:03d}"
  monitor: "val/acc"
  mode: "max"
  save_last: True
  save_top_k: 1  # 保存最好的模型
  auto_insert_metric_name: False
  every_n_epochs: 1  # 每个epoch都检查，但只保存最好的

early_stopping:
  monitor: "val/acc"
  patience: 100
  mode: "max"

model_summary:
  max_depth: -1
